@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-background: rgb(255 255 255);
  --dark-background: rgb(32 32 35);
	--dark-search-background: rgb(45 45 50);
	--light-search-background: rgb(220 220 225);
	--dark-text: rgb(250 250 250);
	--light-text: rgb(39 39 42);
	--dark-menu: rgb(39 39 42);
	--light-menu: rgb(250 250 250);
	--dark-selected: rgb(82 82 91);
	--light-selected: rgb(161 161 170);
	--dark-hover: rgb(63 63 70);
	--light-hover: rgb(212 212 216);
}

html {
  --background: var(--dark-background);
	--search-background: var(--dark-search-background);
	--text: var(--dark-text);
	--menu: var(--dark-menu);
	--selected: var(--dark-selected);
	--hover: var(--dark-hover);
}

html.light {
  --background: var(--light-background);
	--search-background: var(--light-search-background);
	--text: var(--light-text);
	--menu: var(--light-menu);
	--selected: var(--light-selected);
	--hover: var(--light-hover);
}

@layer base {
	. {
		background: @apply text-white;
	}
	@font-face {
		font-family: 'Basier';
		font-weight: normal;
		src: url('../static/fonts/basier-normal.woff2') format('woff2');
	}
	@font-face {
		font-family: 'Basier';
		font-weight: medium;
		src: url('../static/fonts/basier-medium.woff2') format('woff2');
	}
	@font-face {
		font-family: 'Basier';
		font-weight: bold;
		src: url('../static/fonts/basier-bold.woff2') format('woff2');
	}
	* {
		font-family: 'DM Sans', sans-serif;
		@apply text-custom-text;
	}
  h1, h2, h3, h4 {
    @apply font-bold tracking-wide;
  }
	#svelte {
		@apply bg-custom-background max-h-screen h-screen min-h-min flex flex-col overflow-clip;
	}
	main {
		@apply flex grow max-h-full;
	}
	footer, header {
		@apply shrink;
	}
	
	*::-webkit-scrollbar {
		width: 12px;
	}
	
	*::-webkit-scrollbar-track {
		@apply bg-inherit;
	}
	
	*::-webkit-scrollbar-thumb {
		@apply rounded-xl bg-zinc-500;
	}
}

